<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @post.get_image(500, 500) %>
    </div>
    <div class="col-md-5">
      <%= form_with model: @post do |f| %>
      <div class="form-group row mt-5">
        <%= f.label :name, '商品名' %>
        <div class="input-group">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :review, '感想' %>
        <div class="input-group">
          <%= f.text_area :review, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :price, '価格' %>
        <div class="input-group">
          <%= f.text_field :price, class: 'form-control' %>
        <span class="input-group-text" id="basic-addon1">円</span>
        </div>

      </div>
      <div class="form-group row">
        <%= f.label :brand, 'ブランド' %>
        <div class="input-group">
          <%= f.text_field :brand, class: 'form-control' %>
        </div>
      </div>
      <%= render "rate", post: @post %>
      <%= f.submit '更新', class: "btn btn-light" %>
      <% end %>
      <div class="mt-5">
        <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
