<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @post.get_image(500, 500) %>
    </div>
    <div class="col-md-5">
      <%= form_with model: @post do |f| %>
      <div class="form-group row mt-5">
        <%= f.label :name %>
        <div class="input-group">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :review %>
        <div class="input-group">
          <%= f.text_area :review, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :price %>
        <div class="input-group">
          <%= f.text_field :price, class: 'form-control' %>
        <span class="input-group-text" id="basic-addon1">円</span>
        </div>

      </div>
      <div class="form-group row">
        <%= f.label :brand %>
        <div class="input-group">
          <%= f.text_field :brand, class: 'form-control' %>
        </div>
      </div>
      <%= render "rate", post: @post %>
      <%= f.submit '更新' %>
      <% end %>
      <%= link_to "削除", post_path(@post), method: :delete %>
    </div>
  </div>
</div>
