<div class="container">
  <h3>投稿一覧</h3>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <%= image_tag post.get_image(200, 200) %>
    <% end %>
    <%= post.name %>
    <%= post.brand %>
    <%= post.price %>円
    <%= post.review %>
    <%= render "rate", post: post %>
  <% end %>
</div>