<div class="container">
  <div class="row">
    <h4 class="my-3">Profile edit</h4>
    <div class="col-md-7">
      <%= form_with model: @user, url: update_information_path do |f| %>
      <div class="form-group row">
        <%= f.label :user_name, 'ユーザーネーム', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :user_name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row my-2">
        <%= f.label :age, '年齢', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :age, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row my-2">
        <%= f.label :introduction, '自己紹介', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row my-2">
        <%= f.label :email, 'メールアドレス', class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <%= f.submit "save", class: "btn btn-light" %>
      <% end %>
    </div>
  </div>
</div>